<div class='dc-hero-header'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-7'>
        <p>
          Hi!
          I'm Julien "mezis" Letessier.
        </p>
        <p>
          I'm a software geek.
          I build web applications.
          I've had fun as an engineer, scientist, architect,
          manager, and start-up founder.
        </p>
        <p>
          This is where I share about code craftsmanship, agile methods, and
          other random stuff I get excited about.
        </p>
      </div>
      <div class='col-md-2'></div>
    </div>
  </div>
</div>
