<nav class='navbar navbar-default navbar-fixed-top' id='header' role='navigation'>
  <div class='navbar-header dc-title visible-xs visible-sm'>
    <a class='navbar-brand' href='/'>
      {{ site.title }}
    </a>
  </div>
  <div class='navbar-header dc-title hidden-xs hidden-sm'>
    <a class='navbar-brand' href='/'>
      {{ site.title }}
      <span class='dc-tagline'>
        ☛
        {{ site.tagline }}
      </span>
    </a>
  </div><ul class='nav navbar-nav navbar-right hidden-xs'><li><a class='navbar-link' href='http://github.com/{{ site.author.github }}' title='Find me on Github'>
    <i class='icon-github'></i>
  </a></li><li><a class='navbar-link' href='http://twitter.com/{{ site.author.twitter }}' title='Follow me on Twitter'>
    <i class='icon-twitter'></i>
  </a></li><li><a class='navbar-link' href='http://linkedin.com/in/{{ site.author.linkedin }}' title='Find me on LinkedIn'>
    <i class='icon-linkedin'></i>
  </a></li><li><a class='navbar-link' href='https://plus.google.com/{{ site.author.googleplus_id }}?rel=author' rel='author' title='Follow me on Google+'>
    <i class='icon-google-plus-sign'></i>
  </a></li><li><a class='navbar-link' href='{{ site.url }}/atom.xml' title='Stay updated'>
    <i class='icon-rss'></i>
  </a></li></ul><a class='navbar-right'></a>
</nav>
