<div class='post'>
  <div class='date-separator'>
    <span>
      {{ page.date | date: "%e %B %Y" }}
    </span>
  </div>
  <ul class='taglist'>
    {% for tag in page.tags %}
    <li>
      <span class='tag'>
        {{ tag }}
      </span>
    </li>
    {% endfor %}
  </ul>
  <h3>
    <a href='{{ BASE_PATH }}{{ page.url }}'>
      {{ page.title }}
    </a>
  </h3>
  <div class='content'>
    {% if page.summary %}
    {{ page.summary | markdownify }}
    <a class='read' href='{{ BASE_PATH }}{{ page.url }}'>Read the full article →</a>
    {% else %}
    {{ page.content | markdownify }}
    {% endif %}
  </div>
</div>
