<div class='dc-hero-header dc-recent-posts'><a href='/#old-posts'><div class='container visible-xs visible-sm'>
    <div class='row'>
      <div class='col-md-2'></div><div class='col-md-7'><div class='dc-post-link-short'>Older posts...</div></div><div class='col-md-2'></div>
    </div>
  </div>
  <div class='container visible-md visible-lg'>
    <div class='row'><div class='col-md-2'></div><div class='col-md-7'>Older posts...</div><div class='col-md-2'></div>
    </div>
  </div></a>{% for post in site.posts reversed limit:10 %}
  {% include post_mini.html %}
  {% endfor %}
</div>
