#posts
  %h3 recent posts

  %ul.unstyled
    {% for post in site.posts limit:5 %}
    %li
      %a{ :href => "{{ BASE_PATH }}{{ post.url }}" }
        {{ post.title }}
      %span.date {{ post.date | date: "%e %B" }}
    {% endfor %}
