<div id='sidebar'>
  <div class='separator'>
    <span>topics</span>
  </div>
  {% include tags.html %}
  <div class='separator'>
    <span>recent posts</span>
  </div>
  {% include recent_posts.html %}
  <div class='separator'>
    <span>about</span>
  </div>
  <p>
    Hi!
    I'm Julien "mezis" Letessier.
  </p>
  <p>
    I live and work in sunny London, UK, as a software engineer.
    I have a passionate love for excellent code, agile methods, and good product management.
  </p>
  <p>
    This corner of the web is about sharing that passion.
  </p>
</div>
