#sidebar
  #about
    %h3 about
    %p
      Hi!
      I'm a software engineer with a passionate love for excellent code, agile workflows, and good product management.
    %p
      This corner of the web is about sharing that passion.
  {% include tags.html %}
  {% include recent_posts.html %}
