:plain
  ---
  layout: default
  rss:
    title: site.title
    path:  /atom.xml
  ---

{% include about.html %}

{% for page in site.posts limit:3 %}
{% include post_short.html %}
{% endfor %}

#old-posts
{% for post in site.posts offset:3 %}
{% include post_mini.html %}
{% endfor %}

