// Settings - typography

$font-family-serif:     "Roboto Slab", serif
$font-family-sans-serif: "Roboto", sans-serif
$font-family-monospace: "Source Code Pro", Consolas, Menlo, monospaced
$font-family-base:      $font-family-serif
$headings-font-family:  $font-family-sans-serif
$font_path:             /assets/fonts
$line-height-base:      1.5
$font-size-base:        17px
$headings-font-weight:  700
$headings-line-wight:   1.1

// Settings - colors

$gray:                #aaa
$lightGray:           lighten($gray, 10%)
$darkGray:            darken($gray, 15%)
$darkerGray:          darken($gray, 50%)
$lighterGray:         #f4f4f4
$brickRed:            #8e1600

$body-bg:             white
$backgroundColor:     white
$headercolor:         darken($lightGray, 3%)
$link-color:          $brickRed
$text-muted:          $gray
$code-bg:             $lighterGray

// Settings - layout

$nav-link-padding: 5px


// Load other libraries

@import font-awesome
// @import font-uni
@import pygments
@import compass/css3
@import bootstrap


// Custom mixins

=hyphenate
  -webkit-hyphens: auto
  -moz-hyphens:    auto
  hyphens:         auto


// Layout overrides

p
  +hyphenate
  text-align: justify

ul
  list-style-type: circle

figure
  margin-top:     1em
  margin-bottom:  1em
  text-align:     center
  img
    max-width:      100%
figcaption
  color:          $text-muted


// General style overrides

a
  +transition-property(color)
  +transition-duration(100ms)
  text-decoration: none !important

code
  color:            inherit
  // background-color: transparent
  font-size:        inherit

pre
  line-height: 0.98
  border: none

.text-muted a
  opacity: 0.6


// Sidebar

#sidebar
  > :first-child
    margin-top: 0


// Fancy separators

.dc-separator
  border-top:         1pt solid $text-muted
  margin-top:         2em
  margin-bottom:      1em
  span
    position:         relative
    text-align:       center
    color:            $text-muted
    top:             -.7em
    padding-right:    1em
    background-color: $backgroundColor
  position:           relative
  top:                .7em

// Post metadata

.post-banner
  color:        $text-muted

.dc-short-date
  white-space:  nowrap

// Header

#header-sentinel
  height: 90px

#header
  background-image:  url(http://www.gravatar.com/avatar/88683f31bdf05a8071fb08327b3919cb.png)
  background-size:   contain
  background-repeat: no-repeat
  padding-left:      $navbar-height + 5px


.dc-title
  font-size: larger

.dc-tagline
  opacity:    0.6


// Posts

.dc-post-title
  margin-top:       0

.dc-post-summary
  margin-top:       1em
  margin-bottom:    2em
  p, li
    font-size:      larger
  .read
    display:        block

.dc-summary-sidebar
  text-align: right
  font-size:  inherit

.dc-posts-shortlist
  padding-left:     0
  li
    display:        inline
    margin-right:   1ex

.dc-post
  margin-bottom:    4em

.dc-post p a
  border-bottom: 1px solid rgba($link-color, 0.3)

.dc-post-content
  hr
    $size: 30px

    border:         none
    height:         $size
    &:before
      content:      "***"
      height:       $size
      line-height:  $size
      display:      block
      text-align:   center


// Code
.line-numbers
  display: none


// Figures

.dc-picture
  border:         5px solid white


// Footer

#footer
  font-family:      $font-family-sans-serif
  padding-top:      2em
  padding-bottom:   1em
  +opacity(0.7)
  p
    display:        inline
    font-size:      smaller



// Disqus style overrides

#disqus_thread
  margin-top: 4em
