
/* Settings - fonts

$serifFontFamily:     Arvo, serif
$monoFontFamily:      "Anonymous Pro", Menlo, Monaco, monospaced
/*$sansFontFamily:      "Arvo"
$baseFontFamily:      $serifFontFamily
$font_path:           /assets/fonts

/* Settings - colors

$gray:                #aaa
$lightGray:           lighten($gray, 10%)
$darkGray:            darken($gray, 15%)
$darkerGray:          darken($gray, 50%)
$lighterGray:         #f4f4f4
$brickRed:            #8e1600
$lightRed:            lighten($brickRed, 50%)

$bodyBackground:      $lighterGray
$backgroundColor:     $lighterGray
$headercolor:         darken($backgroundColor, 3%)
$linkColor:           $brickRed
/*$postBackground:      white
$sepColor:            $gray


/* Load other libraries

@import "font-awesome"
@import "pygments"
@import "compass/css3"
@import "bootstrap"
@import "bootstrap-responsive-no1200px"


/* Custom mixins


=hyphenate
  -webkit-hyphens: auto
  -moz-hyphens:    auto
  hyphens:         auto


=pill
  @extend .label !optional
  font-family: $sansFontFamily
  font-weight: normal


/* Layout overrides

p
  +hyphenate
  text-align: justify
h1
  +text-shadow(rgba(black, .15) 0px 2px 3px)
h2
  line-height:    100%
  padding-bottom: 2px
  margin-top:     .66em
  margin-bottom:  1ex
  border-bottom:  3px solid transparentize($lightGray, 0.5)


/* General style overrides

a
  +transition-property(color opacity text-shadow text-decoration)
  +transition-duration(100ms)
  text-decoration: none !important
  &:hover
    +text-shadow($lightRed 0px 1px 5px)



/* Date pills

#posts
  .date
    +pill
    background-color: $lightGray

/* Date separators

#posts .date-separator,
.post .date-separator,
#sidebar .separator
  border-top: 1pt solid $sepColor
  margin-top: 2em
  margin-bottom: 1em
  span
    text-align: center
    color: $sepColor
    top: -.7em
    position: relative
    padding-right: 1em
    background-color: $backgroundColor

/* Tags & tag lists

ul.taglist
  @extend .clearfix
  margin-left: 0
  list-style-type: none
  li
    float: left

span.tag
  +pill
  &.selected
    background-color: $textColor


/* Header

#header-container
  background-color: $darkerGray
  padding: 0.5ex 0
  position: fixed
  width: 100%
  z-index: 1
  +box-shadow(rgba(black, .6) 0px 2px 20px)

#header-sentinel
  height: 40px

#header
  $iconHeight: 32px

  /* override default link styling for dark background
  a
    color: $lightRed
    opacity: 0.7
    &:hover
      opacity: 1.0
      text-decoration: none !important
      +text-shadow(rgba(white, .7) 0px 1px 5px)

  .title
    margin-top:     8px
    float:          left
    a
      font-size:    x-large
      font-family:  $headingsFontFamily
      font-weight:  lighter
      span
        opacity:    0.6
  img
    +border-radius(3px)
    float:          right
    margin-left:    2em
    height:         $iconHeight
  ul
    float:          right
    margin-left:    1em
    margin-bottom:  0
    li
      display:      inline
      font-size:    larger
      line-height:  $iconHeight

/* Fix header for tablet/phone sizes

@media (max-width: 767px)
  #header-container
    margin-left:   -20px
    width:          100%

    .container
      padding-left:   20px
      padding-right:  20px

    .tagline
      display: none

@media (max-width: 400px)
  #header-container
    .icons
      display: none

/* Posts

.summary
  margin-top:    1em
  margin-bottom: 2em
  p
    font-style: italic
  a.read
    display: block

.post
  @extend .clearfix
  .date
    text-align: center
  .taglist
    float: right
    text-align: right
  h3
    @extend .clearfix


/* Post lists

#posts
  li
    display: inline
  .post
    margin-bottom: 2em


/* Footer

#footer
  padding-top: 1em
  +opacity(0.7)
  p
    display:     inline
    font-size:   smaller
    line-height: 100%


/* About section

#about
  font-size: inherit

