
/* Settings - fonts

/* $serifFontFamily:     Prociono
/* $sansFontFamily:      Junction
/* $headingsFontFamily:  Raleway
/* $baseFontFamily:      $sansFontFamily
/* $headingsFontWeight:  bold
$font_path:           /assets/fonts


/* Settings - colors

$gray:                #aaa
$lightGray:           lighten($gray, 10%)
$darkGray:            darken($gray, 15%)
$lighterGray:         #f4f4f4
$brickRed:            #8e1600

$bodyBackground:      $gray
$backgroundColor:     $lighterGray
$headercolor:         darken($backgroundColor, 3%)
$linkColor:           $brickRed
$postBackground:      white


/* Load other libraries

@import "compass/css3"
@import "bootstrap"
@import "bootstrap-responsive"
@import "font-awesome"
@import "pygments"


/* Custom mixins


=hyphenate
  -webkit-hyphens: auto
  -moz-hyphens:    auto
  hyphens:         auto


=add_font_face($face_name, $file_name, $weight: "normal", $style: "normal")
  @font-face
    font-family: $face_name
    src: url('#{$font_path}/#{$file_name}.eot')
    src: url('#{$font_path}/#{$file_name}.eot?iefix') format("eot"), url('#{$font_path}/#{$file_name}.woff') format("woff"), url('#{$font_path}/#{$file_name}.ttf') format("truetype"), url('#{$font_path}/#{$file_name}.svg') format("svg")
    font-weight: $weight
    font-style: $style

=pill
  @extend .label
  font-family: $sansFontFamily
  font-weight: normal


/* Load custom web fonts

+add_font_face("Junction",        "Junction-webfont")
+add_font_face("Raleway",         "raleway_thin-webfont")


/* Layout overrides

.container-box
  background-color: $backgroundColor
  +box-shadow(rgba(black, .25) 0 0 25px)
#header, #content, #sidebar
  padding: 1em
#header
  background-color: $headercolor

p
  +hyphenate
  text-align: justify
h1
  +text-shadow(rgba(black, .15) 0px 2px 3px)
h2
  line-height:    100%
  padding-bottom: 2px
  margin-top:     .66em
  margin-bottom:  1ex
  border-bottom:  3px solid transparentize($lightGray, 0.5)


/* Date pills

.post,
#posts
  .date
    +pill
    background-color: $lightGray


/* Tags & tag lists

ul.taglist
  @extend .clearfix
  margin-left: 0
  list-style-type: none
  li
    float: left

span.tag
  +pill
  &.selected
    background-color: $textColor


/* Header

#header
  $iconHeight: 48px
  +text-shadow(rgba(black, .15) 0px 2px 3px)

  .title
    margin-top:     8px
    float:          left
    a
      font-size:    x-large
      font-family:  $headingsFontFamily
      font-weight:  lighter
    p
      font-size:    large
      font-family:  $headingsFontFamily
      font-weight:  lighter
      margin:       0
  img
    +border-radius(3px)
    +box-shadow(rgba(black, .15) 0px 2px 3px)
    float:          right
    margin-left:    2em
    height:         $iconHeight
  ul
    float:          right
    margin-left:    1em
    margin-bottom:  0
    li
      display:      inline
      font-size:    larger
      line-height:  $iconHeight
    a:hover
      text-decoration: none !important


/* Posts

.summary
  margin-top:    1em
  margin-bottom: 2em
  p
    font-size:   larger

a.read
  display: block
  float:   right

.post
  @extend .clearfix
  @extend .well
  background-color: $postBackground
  .date
    float: right
  .taglist
    float: left
  h1
    @extend .clearfix


/* Post lists

#posts
  li
    display: inline
  .post
    margin-bottom: 2em


/* Footer

#footer
  padding-top: 1em
  +opacity(0.7)
  p
    display:     inline
    font-size:   smaller
    line-height: 100%


/* About section

#about
  font-size: inherit

