!!! 5
%html{ :lang => 'en' }
  %head
    %title Tracking - {{ site.title }}

    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %script{:src => "/assets/javascripts/main.js",          :type => "text/javascript"}
  %body
    {{ content }}
