.dc-hero-header
  .container
    .row
      .col-md-2
      .col-md-7
        %p
          Hi!
          I'm Julien "mezis" Letessier.
        :markdown
          I'm a software geek: I build things with code, like [web applications](http://www.housetrip.com/),
          [platform tools](https://github.com/mezis/routemaster#routemaster),
          [search
          engines](https://github.com/mezis/blurrily#blurrily--millisecond-fuzzy-string-matching),
          or even tiny [crypto utilities](https://github.com/mezis/donjon#donjon). 
          
          I've had fun as an engineer, scientist, architect,
          manager, and start-up founder.
        %p
          This is where I share about code craftsmanship, agile methods, and
          other random stuff I get excited about.
      .col-md-2

