.dc-hero-header
  .container
    .row
      .col-md-2
      .col-md-7
        %p
          Hi!
          I'm Julien "mezis" Letessier.
        %p
          I'm a software geek.
          I build web applications.
          I've had fun as an engineer, scientist, architect,
          manager, and start-up founder.
        %p
          This is where I share about code craftsmanship, agile methods, and
          other random stuff I get excited about.
      .col-md-2

