#footer
  %p
    This website is graciously hosted by 
    %a{:href=>'http://github.com/'}> Github Pages
    \.
  %p
    It's built using
    %a{:href=>'http://github.com/mojombo/jekyll'}> jekyll
    , 
    %a{:href=>'http://daringfireball.net/projects/markdown/'}> markdown
    , 
    %a{:href=>'http://github.com/twitter/bootstrap'}> bootstrap
    , 
    %a{:href=>'http://github.com/thomas-mcdonald/bootstrap-sass'}> bootstrap-sass
    , 
    %a{:href=>'http://sass-lang.com/'}> sass
    , 
    %a{:href=>'http://haml.info/'}> haml
     plus a hefty dose of love and the benevolent tolerance of my significant other.
  %p
    Unless otherwise stated, all content is &copy; 2012 Julien Letessier.
    All code snippets are reusable free of charge under the terms of the 
    %a{:href=>'http://www.opensource.org/licenses/MIT'}> MIT Licence
    \.
