#footer
  %p
    This website is graciously hosted by 
    %a{:href=>'http://github.com/'} Github Pages
    It's built using
    %a{:href=>'http://github.com/mojombo/jekyll'} Jekyll
    ,
    %a{:href=>'http://daringfireball.net/projects/markdown/'} Markdown
    ,
    %a{:href=>'http://github.com/twitter/bootstrap'} Twitter's bootstrap
    %a{:href=>'https://github.com/thomas-mcdonald/bootstrap-sass'} for Sass
    ,
    %a{:href=>'http://sass-lang.com/'} Sass itself
    ,
    and
    %a{:href=>'http://haml.info/'} Haml
    \.

  %p
    Unless otherwise stated, all content is &copy; 2012 Julien Letessier.
    All code snippets are reusable free of charge under the terms of the
    %a{:href=>'http://www.opensource.org/licenses/MIT'} MIT Licence
    \.
