#header
  .title
    %a{:href => "/"}
      {{ site.title }}
      ☛
      %span
      {{ site.tagline }}
  %a{ :href => 'http://en.gravatar.com/mezis', :target => '_blank' }
    %img{ :src => "{{ site.author.gravatar }}", :width => 32, :height => 32 }
  %ul.unstyled
    %li
      %a{:href => "http://github.com/{{ site.author.github }}", :title => "Find me on Github" }
        %i.icon-github
    %li
      %a{:href => "http://twitter.com/{{ site.author.twitter }}", :title => "Follow me on Twitter" }
        %i.icon-twitter
    %li
      %a{:href => "http://linkedin.com/in/{{ site.author.linkedin }}", :title => "Find me on LinkedIn"}
        %i.icon-linkedin
    %li
      %a{ :href => "https://plus.google.com/{{ site.author.googleplus_id }}", :title => "Follow me on Google+" }
        %i.icon-google-plus-sign
    %li
      %a{:href => "{{ site.url }}/atom.xml", :title => "Stay updated"}
        %i.icon-rss
  .clearfix

