.dc-post.row
  .col-md-3.post-banner
    %p<>
      {{ page.date | date: "%e %B %Y" }}
  .col-md-9
    %h3.dc-post-title
      %a{ :href => "{{ BASE_PATH }}{{ page.url }}" }
        {{ page.title }}
    .content
      {% if page.summary %}
      {{ page.summary | markdownify }}
      %a.read{:href => "{{ BASE_PATH }}{{ page.url }}"} Read the full article →
      {% else %}
      {{ page.content | markdownify }}
      {% endif %}