%ul.dc-posts-shortlist
  {% for post in site.posts limit:5 %}
  %li
    %span.dc-short-date {{ post.date | date: "%e %b" }}
    %a{ :href => "{{ BASE_PATH }}{{ post.url }}" } {{ post.title }}
  {% endfor %}
