.dc-hero-header.dc-recent-posts
  %a{ :href => "/#old-posts" }<>
    .container.visible-xs.visible-sm
      .row
        .col-md-2
        .col-md-7<>
          .dc-post-link-short<>
            Older posts...
        .col-md-2
    .container.visible-md.visible-lg
      .row
        .col-md-2<>
        .col-md-7<>
          Older posts...
        .col-md-2

  {% for post in site.posts reversed limit:10 %}
  {% include post_mini.html %}
  {% endfor %}
