#sidebar
  #about
    %h3 about
    %p
      Hi!
      I'm Julien "mezis" Letessier. I work as a software engineer, with a passionate love for excellent code, agile methods, and good product management.
    %p
      This corner of the web is about sharing that passion.
  {% include tags.html %}
  {% include recent_posts.html %}
