#sidebar
  .separator
    %span topics
  {% include tags.html %}

  .separator
    %span recent posts
  {% include recent_posts.html %}

  .separator
    %span about
  %p
    Hi!
    I'm Julien "mezis" Letessier.
  %p
    I live and work in sunny London, UK, as a software engineer.
    I have a passionate love for excellent code, agile methods, and good product management.
  %p
    This corner of the web is about sharing that passion.
