!!! 5
%html{ :lang => 'en' }
  %head
    %title {% if page.title != null %}{{ page.title }}{% else %}{{ site.tagline }}{% endif %} - {{ site.title }}
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{ :name => "viewport",  :content=> "width=device-width, :initial-scale=1.0" }
    %link{:href => "/assets/stylesheets/main.css",                     :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/stylesheets/pygments.css",                 :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/javascripts/jquery.js",        :type => "text/javascript"}
    %script{:src => "/assets/javascripts/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "/assets/javascripts/main.js",          :type => "text/javascript"}
  %body
    .container
      #header.row
        .span12
          %a{:href => "/"} {{ site.title }} FOO BAR
      #main.row
        #content.span8
          {{ content }}
        .span4
          {% include sidebar.html %}
      #footer.row
        .span12
          &nbsp;