<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% if page.title != null %}{{ page.title }}{% else %}{{ site.tagline }}{% endif %} - {{ site.title }}</title>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type'>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono:300' rel='stylesheet' type='text/css'>
    <link href='/assets/stylesheets/main.css' media='all' rel='stylesheet' type='text/css'>
    {% if page.rss %}
    <link href='{{ page.rss.path }}' rel='alternate' title='{{ page.rss.title }}' type='application/rss+xml'>
    {% endif %}
    <script src='/assets/javascripts/jquery.js' type='text/javascript'></script>
    <script async src='/assets/javascripts/bootstrap.min.js' type='text/javascript'></script>
    <script async src='/assets/javascripts/main.js' type='text/javascript'></script>
    <script async src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML' type='text/javascript'></script>
  </head>
  <body>
    {% include header.html %}
    <div id='header-sentinel'></div>
    {{ content }}
    {% include footer.html %}
  </body>
  <script type='text/x-mathjax-config'>
    MathJax.Hub.Config({
      "HTML-CSS": {availableFonts: ["TeX"]},
             MMLorHTML: {prefer: "HTML"}
    });
    MathJax.Hub.Register.StartupHook("HTML-CSS Jax Ready",function () {
      var VARIANT = MathJax.OutputJax["HTML-CSS"].FONTDATA.VARIANT;
      VARIANT["normal"].fonts.unshift("MathJax_SansSerif");
      VARIANT["bold"].fonts.unshift("MathJax_SansSerif-bold");
      VARIANT["italic"].fonts.unshift("MathJax_SansSerif-italic");
      VARIANT["-tex-mathit"].fonts.unshift("MathJax_SansSerif-italic");
    });
    MathJax.Hub.Register.StartupHook("SVG Jax Ready",function () {
      var VARIANT = MathJax.OutputJax.SVG.FONTDATA.VARIANT;
      VARIANT["normal"].fonts.unshift("MathJax_SansSerif");
      VARIANT["bold"].fonts.unshift("MathJax_SansSerif-bold");
      VARIANT["italic"].fonts.unshift("MathJax_SansSerif-italic");
      VARIANT["-tex-mathit"].fonts.unshift("MathJax_SansSerif-italic");
    });
  </script>
</html>
