\---
layout: default
\---
.post
  .date
    {{ page.date | date: "%e %B %Y" }}
  .clearfix
  %h1
    %a{:href => "{{ BASE_PATH }}{{ page.url }}"} {{ page.title }}
  .summary
    {{ page.summary | markdownify }}
  .content
    {{ page.content | markdownify }}
